@import "tailwindcss";

@theme {
    --color-primary: #5046e4;
    --color-secondary: #e0e7ff;
    --color-text-secondary: #5954b9;
    --color-text-primary: #e2dffb;
    --color-bg-content: #f5f8fa;
    --color-logo: #4f45e0;
    --color-border: #E6E8EA
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af #f3f4f6; /* thumb track */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* light gray */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af; /* medium gray */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* darker gray on hover */
}